@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body {
  font-family: "Roboto, sans-serif";
  font-size: 16px;
  line-height: 1.7;
  color: #2b2b2b;
  background-color: #d0c8d4;
  margin: 0;
  padding: 0;
}


/* Header */


#site-header {
  background-image: url(../img/OIP.jpg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 212, 251);
  text-align: center;
  line-height: 2.4;
  padding: 60px 20px 40px ;
  border-bottom: 4px solid #D60076;
}

#site-header h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0,2);
}

.tagline {
  color: rgb(255, 212, 251);
  font-style: italic;
  font-size: 2em;
}


/* Nav */


#site-header nav a {
  display: inline-block;
  align-items: center;
  color: #d0c8d4;
  font-weight: bold;
  line-height: 3;
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid #D60076;
}

nav a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

#site-header nav ul li {
 display: inline-block;
 list-style: none;
}

span {
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin: 2px;
  font-size: 30px;
}


/*Main*/


main{
  margin-top: -81px;
  padding: 20px;
  display: block;
}

main section {
  background-color: rgb(220, 220, 220);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  margin-bottom: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0,08);
  }

/* Titoli del main */


h2 {
  font-size: 1.8rem;
  color: #55367f;
  text-align: left;
  line-height: 2.4;
}

h3 {
  font-size: 1.2rem;
  color: #55367f;
  text-align: left;
  line-height: 2.2;
}


/* Sezione "Chi sono" */


#chi-sono {
  background-color: rgb(220, 220, 220);
  text-align: justify;
}

#chi-sono p:first-of-type {
  font-size: 1.15rem;
  font-style: italic;
  color:#55367f;
}

#chi-sono p:first-of-type::first-letter {
  font-size: 3rem;
  font-weight: bold;
  float: left;
  margin-right: 6px #D60076;
} 

.avatar {
  width: 110px;
  height: 110px;
  border: 4px solid  #D60076;
  border-radius: 50%;
  float: left;
  margin: 0 24px 12px 0;
}


/* Lista competenze a righe alternate */


.skill {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
}

.skill th {
  text-align: left;
  padding: 10px;
  color: #55367f;
  border-bottom: 2px solid #c2c2c2;
}

.skill td {
  padding: 20px 10px;
  vertical-align: top; 
  border-bottom: 1px solid #c2c2c2;
}

.intera-barra p {
  font-size: 0.85rem;
  color: #777;
  margin: 5px 0 0 0;
  font-style: italic;
}

.intera-barra {
  width: 40%; 
}

.primo {
  width: 100%;
  height: 12px;
  background-color: #eeebe3;
  border-radius: 50px;
  overflow: hidden;
  margin-top: 8px;
}

.seconda {
  height: 100%;
  background-color: #e60073;
  border-radius: 50px;
}

.skill span {
  vertical-align: middle;
  position: relative;
  top: -3px;
  margin: 2px;
  font-size: 30px;
  }


/* Progetti alternati */


.project {
  background-color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 20px;
  border-left: 5px solid #55367f;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.project:nth-of-type(odd) {
  background-color: #d0c8d4;
}

.project:nth-of-type(even) {
  background-color: #d0c8d4;
}

.project:first-of-type h3::after{
  content: "🆕";
  display: inline-block;
  padding: 2px 8px;
  margin-left: 12px;
  background-color: #d0c8d4;
  border-radius: 3px;
  font-size: 0.75;
}


/* Form contatti */


label {
  font-weight: bold;
  color:#55367f;
}

input,
textarea {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  width: 60%;
  background-color: #f5f7fb;
}

input:focus,
textarea:focus {
  background-color: #ffffff;
  color: #000000;
}

#consenso {
  width: auto;
}

button {
  color: #ffffff;
  background-color: #55367f;
  font-weight: bold;
  width: 30%;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0,1);
}

button:hover {
  color: #7b55b1;
  background-color:#55367f;
  box-shadow: 0 4px 8px #7b55b1;
}

input::placeholder,
textarea::placeholder {
  color: #999999;
  font-style: italic;
}


/* Footer */


#site-footer {
  background-color: #55367f;
  color: #ffffff;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2.4;
}

#site-footer p {
  margin-bottom: 0;
}